body {
  background-image: url(../img/background.jpg);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

h1 {
  font-size: 80px;
  font-weight: bolder;
  margin: 10px;
}

h3 {
  font-size: 30px;
  font-weight: lighter;
  margin: 10px;
}

.lilFlag {
  float: left;
}

.header {
  text-align: right;
  padding: 10px;
}

.signIn {
  border: white;
  padding: 8px;
  border: 2px solid white;
  border-radius: 4px;
}

.signUp {
  background: #EFC026;
  padding: 10px;
  border-radius: 4px;
  color: black;
  border: 2px solid #EFC026;
}

.signUp:hover {
  background-color: #F0A029;
  transition: all 0.4s ease 0s;
}

.signIn:hover {
  background-color: white;
  color: black;
  transition: all 0.4s ease 0s;
}

.main {
  position: absolute;
  top: 150px;
  left: 180px;
  color: white;
  text-align: center;
  margin-right: 100px;
}

.bigButtons {
  position: absolute;
  top: 570px;
  left: 250px;
  font-size: 20px;
}

.footer {
  position: absolute;
  top: 645px;
  left: 385px;
}

#explore {
  padding: 20px 100px 20px 100px;
  border: 2px solid white;
  border-radius: 4px;
  background: rgba(225, 225, 225, 0.2);
}

#explore:hover {
  background: rgba(225, 225, 225, 0.4);
  transition: all 0.4s ease 0s;
}

#fb {
  padding: 23px;
  border: 2px solid #3463B8;
  border-radius: 4px;
  background: #3463B8;
  font-size: 17px;
}

#fb:hover {
  background-color: #4D76C1;
  transition: all 0.4s ease 0s;
}
