body {
  background-image: url(../img/background.jpg);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.header {
  text-align: right;
  padding: 10px;
}

.main {
  position: absolute;
  top: 170px;
  left: 200px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: bolder;
}

h3 {
  font-style: italic;
}
